<link rel="stylesheet" href="ToDoList.css">

<div class="row panel-list col-md-offset-1 col-md-10 col-xs-12">

    <div class="panel panel-info col-sm-12 col-md-12 col-lg-4">
        <div class="panel-heading">
            <h3 class="panel-title">Planned tasks:</h3>

        </div>
        <div class="panel-body scroll-panel">
            <ul ng-repeat="item in taskList | plannedTasks | orderBy:'date'" ng-style="item.itemStyle">
                <li class="list-group-item">
                    <button type="button" class="btn btn-success" ng-click="statusIntoDone(item)"
                            data-toggle="tooltip" data-placement="right" title="mark as done">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="statusIntoAnnulled(item)"
                            data-toggle="tooltip" data-placement="right" title="annul task">
                        <i class="fa fa-minus"></i>
                    </button>
                    <span>{{item.date}}</span> :
                    {{item.task}}
                </li>
            </ul>

        </div>
    </div>


    <div class="panel panel-success col-sm-12 col-md-12 col-lg-4">
        <div class="panel-heading">
            <h3 class="panel-title">Done tasks:</h3>

        </div>
        <div class="panel-body scroll-panel">
            <ul ng-repeat="item in taskList | doneTasks | orderBy:'-date'" ng-style="item.itemStyle">

                <li class="list-group-item">
                    <button type="button" class="btn btn-danger" ng-click="removeItem(item)"
                            data-toggle="tooltip" data-placement="right" title="delete task">
                        <i class="fa fa-trash-o"></i></button>
                    <span>{{item.date}}</span> :
                    {{item.task}}
                </li>
            </ul>
        </div>

    </div>



    <div class="panel panel-warning col-sm-12 col-md-12 col-lg-4">
        <div class="panel-heading">
            <h3 class="panel-title">Annulled tasks:</h3>

        </div>
        <div class="panel-body scroll-panel">
            <ul ng-repeat="item in taskList | annulledTasks | orderBy:'date'" ng-style="item.itemStyle">
                <li class="list-group-item">
                    <button type="button" class="btn btn-info" ng-click="statusIntoPlanned(item)"
                            data-toggle="tooltip" data-placement="right" title="plan again ">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="removeItem(item)"
                            data-toggle="tooltip" data-placement="right" title="delete task">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <span>{{item.date}}</span> :
                    {{item.task}}
                </li>
            </ul>

        </div>
    </div>

</div>

